langchain 
chromadb    
openai                         
langchain-openai                        
chromadb                           
PyMuPDF                             
unstructured[pdf]                   
pillow
ipykernel
sentence-transformers
ipywidgets
huggingface_hub[hf_xet]
notebook
gradio
langchain_community
transformers
langchain_huggingface
langchain_chroma
accelerate
bitsandbytes
beautifulsoup4
nltk
langchain-text-splitters
language_tool_python